/* Add a border around the image */
.image-with-border {
    /* Border style: thick, solid line, color purple */
    border-radius: thick; /* Optional: Add rounded corners for a softer look */
    border-style: solid; 
    border-color:indigo;
    border-radius: 5px;
  }

  .img-container {
      text-align: center;
  }

  .caption {
      /* Red color in italics */
      color:darkred;
      font-style: italic;

  }